@{
    ViewBag.Title = "Home";
}

<!-- Icon Cards-->
<!-- Example DataTables Card-->
<div class="card mb-3" id="Index">
    <div class="card-header"><i class="fa fa-table"></i> Data Table Example</div>
    <div class="card-body">
        <p class="lead">Please choose segments on the left or click button to create new.</p>
    </div>
    <div class="card-footer small text-muted"></div>
</div>